


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color: #f7edff;

}

.buttons{
    margin: 50px;

}

.buttons button{
    background: #333;
    color: white;
    border: 0;
    outline: 0;
    width: 120px;
    height: 40px;
    cursor: pointer;
    margin: 5px;
}

.toastbox{
    position: absolute;
    bottom: 30px;
    right: 30px;
    display: flex;
    align-items: flex-end;
    flex-direction: column-reverse;
    overflow: hidden;
    padding: 20px;
    
}
.toast{
    width: 400px;
    height: 80px;
    background: #fff;
    font-weight: 500;
    margin: 15px 0;
    box-shadow: 0 0 20px rgba(0 , 0, 0, 0.3);
    display: flex;
    align-items: center;
    padding-left: 35px;
}

.toast i{
    margin: 0 20px;
    font-size: 35px;
    color: green;
}